<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">
            <div class="row">
              <div class ="col-md-6">
                <p>Modify meeting</p>
              </div>
              <div class ="col-md-6" style="text-align: right;">
                <a routerLink="/viewmeet">Back</a>
              </div>

            </div>
          <div class="card-body">
              <form #regcli="ngForm" (ngSubmit)="updateMeet()" >
              <label>Client ID </label>
              <input type="text"  [(ngModel)]="meet.id" name= "meetid" class="form-control" />
            <br/>
              <label> MeetingTopic </label>
              <input type="text"  [(ngModel)]="meet.MeetingTopic" name="topic" class="form-control" />

            <br/>
              <label>meet.No_of_Persons</label>
              <input type="text"  [(ngModel)]="meet.No_of_Persons" name = "no_of_person" class="form-control" />

            <br/>
              <label>Start_Date_Time</label>
              <input type="datetime-local" [(ngModel)]="meet.Start_Date_Time" name="date" class="form-control" />

            <br/>

              <label>Client Id</label>
              <input type="text"  [(ngModel)]="meet.ClientID" name = "mclientid" class="form-control"  />



              <br />
              <input type="submit"  value="Modify Meeting" class="btn btn-success" />
          </form>

      </div>
  </div>
  <div class="col-md-3"></div>
</div>
